@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
  font-family: "Roboto Mono", monospace;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: rgb(111, 111, 111);
  font-size: 2.5em;
  line-height: 10vh;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 60%;
  margin: auto;
  color: rgb(0, 0, 0);
}

h1 {
  margin-top: 8%;
  margin-bottom: 1%;
}

h2 {
  margin-top: 3%;
  margin-bottom: 1%;
}

h3 {
  margin-top: 0%;
}

.documentation,
.categories,
.usage,
footer {
  width: 60%;
  height: auto;
  margin: auto;
  color: rgb(0, 0, 0);
}

.documentation {
  margin-top: 0;
  font-size: 20px;
}

.categories {
  font-size: 20px;
}

.usage {
  margin-bottom: 1rem;
}

ul {
  list-style-type: square;
  margin: 0;
  padding-left: 2rem;
  width: 60%;
  margin: auto;
  font-size: 20px;
}

.span-left {
  text-decoration: underline;
}
.span-right {
  cursor: default;
}

a,
a:visited,
a:hover,
a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer {
  margin-top: 3%;
  font-size: 20px;
  font-weight: 600;
}

.PS {
  color: rgb(93, 102, 112);
  margin-bottom: 2rem;
}

.PS a {
  color: rgb(73, 137, 209);
}

.authors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}


.cHead {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 0%;
}

.cN {
  font-size: 0.7vw;
}

img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
@media screen  and (min-width : 501px) {
  .cImg {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
  }
}

.cbrs{ 
  height: 50vh;
}
.contributors{ 
  width: 80vw; 
  height: auto; 
  margin: auto;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;
}
.headingC {
  font-size: 1.95rem;
  padding: 20px 0;
  text-align: center;
  color: #000;
}
.user{
  flex:1 1 200px;
  margin: 20px;
}

@media (max-width: 768px){
  .cbrs{
    height: auto; 
  }
}

@media screen and (max-width: 900px) {
  nav {
    height: 8vh;
    line-height: 8vh;
    font-size: 1.5em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 85%;
  }

  h1 {
    margin-top: 22%;
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 0.9em;
  }
  .documentation,
  .categories,
  .usage,
  footer {
    width: 85%;
  }

  ul {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  nav {
    height: 8vh;
    line-height: 4vh;
    font-size: 1.5em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 85%;
  }

  h1 {
    margin-top: 22%;
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 0.9em;
  }

  .documentation,
  .categories,
  .usage,
  footer {
    width: 85%;
  }

  .documentation {
    font-size: 15px;
  }

  .categories {
    font-size: 15px;
  }

  .usage {
    font-size: 13px;
  }

  footer {
    font-size: 15px;
  }

  ul {
    font-size: 15px;
    width: 85%;
  }

  .span-left {
    font-size: 15px;
  }

  .span-right {
    font-size: 15px;
  }

  .PS {
    font-size: 15px;
  }
  .authors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  img {
    width: 5rem;
    height: 5rem;
  }

  .cImg{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
  .kaustubh a, .tanmay a{
    line-height: 6rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .user a {
    line-height: 5rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
}
